<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/goal/regist" method="post">
        <div class="form-group">
            <label for="name">목표명</label>
            <input type="text" id="name" name="name" placeholder="목표 이름을 입력하세요">
            <br>
            <label for="description">설명</label>
            <input type="text" id="description" name="description" placeholder="설명을 입력하세요">
        </div>
        <button type="submit">등록</button> </form>
</div> <!-- /container -->
</body>
</html>