<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/user/regist" method="post">
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" id="email" name="email" placeholder="이메일을 입력하세요">
            <br>
            <label for="password">password</label>
            <input type="text" id="password" name="password" placeholder="비밀번호를 입력하세요">
            <br>
            <label for="name">name</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요">
            <br>
            <label for="displayName">display_name</label>
            <input type="text" id="displayName" name="displayName" placeholder="별명을 입력하세요">
            <br>
            <label for="birth">birth day</label>
            <input type="text" id="birth" name="birth" placeholder="생일을 입력하세요">

        </div>
        <button type="submit">등록</button> </form>
</div> <!-- /container -->
</body>
</html>